/*
https://thegnomejournal.wordpress.com/2011/03/15/styling-gtk-with-css/
https://wiki.gnome.org/HowDoI/Buttons
https://stackoverflow.com/q/11927785/654755

GTK+ currently supports a subset of CSS properties:

background-color
background-image
color
border-color
border-image
border-radius
border-width
border-style
padding
margin
transition

http://www.code-couleur.com/dictionnaire/couleur-c.html

*/
.splash-screen {
    background-color: transparent;
}

.splash-screen button {
    border-radius: 10px;
}

.splash-screen label {
    padding-right: 10px;
    font-size: 20px;
    color: black;
    /* DEBUG: border: 1px solid #cdc7c2;*/
}

button.close-all {
    background-color: black;
    background: black;
}

button#close-button {
    background-color: green;
    background: green;
}

.dnd-object-deactivated {
    /* Beurre */
    background-color: #F0E36B;
    border-radius: 5px;
    padding: 10px;
}

.dnd-drop-target {
    /* Beurre frais */
    background-color: #FFF48D;
    font-weight: bolder;
    border-radius: 5px;
    padding: 10px;
}
